<h1><%= @figure.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Title(s)</th>
    <th>Landmark</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td>
      <% @figure.titles.each do |title| %>
      <%= title.name %><br>
      <% end %>
    </td>
    <td>
      <% @figure.landmarks.each do |landmark| %>
      <%= landmark.name %><br>
      <% end %>
    </td>
  </tr>
  <table>
    <a href="/figures/<%= @figure.id %>/edit" class="btn btn-default">Edit</a>
    <a href="/figures" class="btn btn-default">Figures Index</a>
