<h1><%= @figure.name %></h1>
<table class="highlight">
  <tr>
    <th>Name</th>
    <th>Title(s)</th>
    <th>Landmark</th>
  </tr>
  <tr>
    <div class="chip">
      <img src="/images/Billy-the-Kidd.jpg" alt="Contact Person">
      <td><%= @figure.name %></td>
    </div>
    <td>
      <% @figure.titles.each do |title| %>
      <%= title.name %><br>
      <% end %>
    </td>
    <td>
      <% @figure.landmarks.each do |landmark| %>
      <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a><br>
      <% end %>
    </td>
  </tr>
  <table>
    <a href="/figures/<%= @figure.id %>/edit" class="btn teal lighten-2">Edit</a>
    <a href="/figures" class="btn teal lighten-2">Figures Index</a>
